<template>
  <b-list-group-item>
    <img alt="Product" src="../assets/game.png">
    {{ product.name }} - ( {{ product.price }}kr )
    <b-badge href="#" variant="warning"> Star: {{product.star}} </b-badge>
    <b-button type="button" class="close" @click="$emit('order-product', product._id)">
      <img alt="Add To Cart" src="../assets/addtocart.jpg">
    </b-button>
    <h5 class="mt-4">Add your rating</h5>
    <b-input-group size="sm" >
      <b-form-rating v-model="rating" variant="warning"></b-form-rating>
      <b-input-group-append>
        <b-button variant="outline-warning" @click="submitReview({rating}, product)">Submit</b-button>
      </b-input-group-append>
    </b-input-group>
  </b-list-group-item>
</template>

<script>
import { Api } from '@/Api'

export default {
  name: 'product-item',
  props: ['product'],
  data() {
    return {
      rating: null
    }
  },
  methods: {
    submitReview(rating, product) {
      const oldSum = product.star * product.nrReview
      const newStar = (rating.rating + oldSum) / (product.nrReview + 1)
      Api.patch(`/products/${product._id}/rating`, {
        nrReview: product.nrReview + 1,
        star: newStar.toFixed(2)
      }).then(response => {
        console.log(response.data.message)
        location.reload()
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>

<style scoped>
img {
  width: 33px;
  margin-right: 10px;
}
.mt-4 {
  margin-top: 4 !important;
}
</style>
